<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="/assets/images/favicon.png">
    {% block stylesheet %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/styles.css">
    {% endblock %}
</head>

<body>
    
    <header class="container-fluid">
        <div class="d-flex justify-content-center" style="color:white; background-color:black">
            <h1>{% block headertitle %}{% endblock %}</h1>
        </div>
    </header>
    
    {% block navbar %}
    <nav class="" style="">
        <div class="container-fluid" style="height:50px">
            <ul class="nav d-flex justify-content-around" style="background-color:yellow; height:50px">
                <li class=""><a class="" href="">Home</a></li>
                <li class=""><a class="" href="">Boutique</a></li>
                <li class=""><a class="" href="">Panier</a></li>
                <li class=""><a class="" href="">Contact</a></li>
            </ul>
        </div>
    </nav>
    {% endblock %}
    {% block content %}{% endblock %}
    {% block javascript %}{% endblock %}
</body>
</html>