{% extends "base.html.twig" %}

{% block title %}Liste des produits{% endblock %}

{% block headertitle %}Quest Twig{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for shoes, descriptions in shop %}
            {% for description, price in descriptions %}
            <div class="col-4 d-flex justify-content-around" style="padding-top:25px">
                <div class="card" style="text-align:center; background-color:grey">
                    <h1 class="" style="color:pink; padding:10px; border:solid 3px">{{ shoes }}</h1><br>
                    <h3 style="color:white">{{ description }}</h3><br>
                    <h3 style="color:gold">{{price}}€ TTC</h3>
                    <p style="color:purple">All our shoes are guaranteed for 2 years and returns are free for all customers.</p>
                    <button type="submit" form="form" value="Submit" style="background-color:red">Ajouter au panier</button>
                </div>
            </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock %}